//search form
.search_bar {
   visibility: hidden;
    position: absolute;
    top: 50%;
    right: 32px;
    width: 350px;
    transform: translateY(-50%);
    transition: visibility 300ms ease;
    
   &.search_drawer {
      visibility: visible;
   } 

   input[type='search'] {
       border:none;
       width: 100%;
       height: 100%;
       padding: 0.5rem 6rem 0.5rem 1rem;
   }

   input[type='submit'] {
       position: absolute;
       top: 50%;
       right: 5px;
       transform: translateY(-50%);
       appearance: none;
       border: 1.5px solid $gold;
       background-color: transparent;
       color: $gold;
       letter-spacing: 1px;
       text-transform: uppercase;
       padding: 0.5rem;
       cursor: pointer;
       //transition: all 300ms ease;

       &:hover, &:active, &.current {
        background-color: $gold;
        color: $white;
    }
   }

}

.search_icon {
    appearance: none;
	border: none;
	background: none;
    padding: 0;
    
    svg {
        fill: $white;
    }
}

