//search form
.search_bar {
	visibility: hidden;
	position: absolute;
	top: 50%;
	right: 32px;
	width: 350px;
	transform: translateY(-50%);
	transition: visibility 300ms ease;

	&.search_drawer {
		visibility: visible;
	}

	input[type="search"] {
		border: none;
		width: 100%;
		height: 100%;
		padding: 0.5rem 6rem 0.5rem 1rem;
	}

	input[type="submit"] {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		@include button;
	}
}

.search_icon {
	appearance: none;
	border: none;
	background: none;
	padding: 0;

	svg {
		fill: $white;
	}
}

//contact form

.form {
	width: 100%;
	padding: 0;
	margin: 0;

	.form_wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		input[type="text"],
		input[type="email"],
		input[type="url"] {
			display: block;
			width: 32%;
			padding: 10px;
			border: 1px solid #999;
		}
	}

	textarea {
		display: block;
		width: 100%;
		margin: 1rem 0;
		padding: 10px;
		border: 1px solid #999;
	}

	input[type="submit"] {
		@include button;
	}
}
