.header {
    background-color: $black;
    color: $white;

    .wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

}

.open_close {
    display: none;
}

.main_nav {
    .main{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
            display: block;
        color: $white;
        text-decoration: none;
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: transparent;
        transform: all 300ms ease;

        &:hover, &:active, &.current {
            background-color: $white;
            color: $black;
        }
    }
}